RewriteEngine On
RewriteRule ^u/([a-zA-Z0-9_-]+)$ client/profile.php?user=$1
RewriteRule ^/$ index.php
RewriteRule ^([a-zA-Z0-9_-]+)/([0-9]+)$ users.php?user=$1&page=$2
RewriteRule ^([a-zA-Z0-9_-]+)/([0-9]+)/$ users.php?user=$1&page=$2